.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
ARCHITECTURE.md
CONTEXTO_PROYECTO.md
GUIA_ARQUITECTURA_REMIX.md
.vercel/
.vscode/
.github/instrucciones_arquitectura.md
.github/copilot-instructions.md